
<!-- <div *ngFor='let item of stuData; let i = index'>
    <p>{{i}} {{item.userName}} - {{item.contact}}</p>
</div> -->

<hr>
<div *ngFor='let item of users; let i = index'>
  <p class="user-list"> {{i}} {{item.name}} - {{item.surname}}</p>
</div>

<hr>

<ul>
  <li *ngFor="let hero of heroes | async ">
   {{hero.userName}}  {{hero.password}}
  </li>
</ul>

<div class="sky" style="background-color: rgb(180, 168, 192);">
  <h1>hello , Sky </h1>
</div>

<div class="success-message" *ngIf="submitted">hello</div>